.example-spacer {
  flex: 1 1 auto;
}
/* styles.css o component.css */
.dark-toolbar {
  background-color: #333; 
  color: white; 
}
.logo {
  height: 70px;
  margin-right: 16px;
}
.white-icon {
  color: white; 
}
.white-icon:hover {
  color: rgb(135, 14, 14);
}