.header {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 20px;
  padding: auto;
}
.labelCustomer {
  font-size: 1.5em;
  margin-bottom: 1rem;
  color: black;
  font-weight: bold;
  align-items: center;
}
.sourceInput {
  flex: 1;
}
.chart {
  align-items: center;
}
.blue-background-button {
  background-color: #2f87e5; /* Custom blue background */
  color: white; /* White text color */
  border-radius: 4px; /* Optional: rounded corners */
  padding: 12px 24px;
  margin-bottom: 1.3em;
  
}
.blue-background-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  color: white; /* White text color */
}
